* {
    box-sizing: border-box !important;
}

body {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Manrope;
    src: url(../fonts/Manrope-Regular.ttf);
}




/* Navbar */


.navigation {
    color: #101913;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.3px;
    transition: 1.3s !important;
}

.navigation:hover {
    transform: scale(1.8);
    letter-spacing: 0.5px;
}

.login-btn {
    color: #101913;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.3px;
    border: none;
    background-color: transparent;
    transition: all .2s !important;
}

.login-btn:hover {
    text-decoration: underline;
}

.register-btn {
    width: 102px;
    height: 40px;
    border: none;
    border-radius: 8px;
    background-color: #3C9379;
    margin-left: 20px;
    color: #FFF;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.3px;
    transition: all .2s !important;
}

.register-btn:hover {
    background-color: rgba(60, 147, 121, 0.5);
    color: #101913 !important;
}


/* First container */


.h1-bestplace {
    color: #101913;
    font-family: Manrope;
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 0.5px;
}

.p-atbachira {
    color: #535A56;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    letter-spacing: 0.3px;
    margin-top: 32px;
}

.shopping-btn {
    width: 156px;
    height: 48px;
    border-radius: 8px;
    background: #3C9379;
    border: none;
    margin-top: 32px;
    color: #FFF;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.3px;
    transition: all .2s !important;
}

.shopping-btn:hover {
    background-color: rgba(60, 147, 121, 0.5);
    color: #101913 !important;
}

.h6-collaborate {
    color: #101913;
    text-align: center;
    font-family: Manrope;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.3px;
}


/* second container */


.h6-browse {
    color: #101913;
    font-family: Manrope;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.3px;
}


/* The Third Container */


.h5-choose {
    color:  #101913;
    font-family: Manrope;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.3px;
    text-align: center;
}

.p-delivery {
    color: #101913;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.3px;
    text-align: center;
    margin: 0;
}

.p-lorem {
    color: #535A56;
    text-align: center;
    margin: 0;
    margin-top: 10px;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.3px;
}


/* Fourth Container */


.h4-popular {
    color: #101913;
    font-family: Manrope;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.3px;
}

.nike {
    color: #101913;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin-top: 15px;
    text-decoration: none !important;
}

.price {
    color: #101913;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.3px;
    text-decoration: none !important;
}

.img-size {
    width: 100%;
    height: 330px;
}

.a-link {
    cursor: pointer;
    text-decoration: none;
}

.img-size:hover {
    -webkit-animation: rotate 8s linear infinite;
    animation: rotate 8s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}


/* Footer */


.p-bachira {
    color: #535A56;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.3px;
    margin: 0;
    margin-top: 14px;
}

.forbeginner {
    color: #101913;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.3px;
}

.a-footer {
    color: #535A56;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.3px;
    text-decoration: none;
    transition: 1s !important;
}

.a-footer:hover {
    color: #c4d2c8 !important;
}

.copyright {
    color: #535A56;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.3px;
    text-align: center;
}